# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/

# macOS
.DS_Store

# Editor folders
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env

# Configuration files
*.conf
models/*.tflite
*.tflite
models/